* {
    box-sizing: border-box;
}

html {
    font-family: "Source Sans Pro","APPLE SD Gothic Neo",HelveticaNeue,Helvetica,"NanumGothic","맑은 고딕","Malgun Gothic",arial,sans-serif,"Source Sans Pro",sans-serif;
    font-size: 14px;
}

header {

}

nav {

}

.hero {
    height: 500px;
    background-color: lightcoral;
}

.Portfolio {
    display: flex;
    justify-content: center;
}

aside {
    width: 300px;
    height: 700px;
    background-color: lightblue;
    margin-top: -175px;
    margin-right: 25px;
}

.containerP {
    width: 66%;
    background-color: lightgreen;
}

.side {

}

main {
    margin: 0 auto;
}

.boxP {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* 아이템 간의 간격 */
}

.boxP > div {
    background-color: grey;
    width: calc(50% - 7.5px);
    height: 300px;
}

.itemS {
    display: flex;
}

.itemS > .thumbnail {
    width: 66%;
    background-color: palegoldenrod;
}

.itemS > .info {
    width: 34%;
    background-color: lightcyan;
}