* {
    box-sizing: border-box;
    word-break: keep-all;
}

html {
    font-family: "Source Sans Pro","APPLE SD Gothic Neo",HelveticaNeue,Helvetica,"NanumGothic","맑은 고딕","Malgun Gothic",arial,sans-serif,"Source Sans Pro",sans-serif;
    font-size: 14px;
}

header {

}

nav {

}

.hero {
    height: 500px;
    background-color: lightcoral;
}

aside {
    width: 220px;
    height: 600px;
    position: sticky;
    top: 15%;
    left: 15%;
    background-color: lightblue;
    margin-top: -250px;
    border-radius: 110px;
}

.side {

}

main {
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
    background-color: lemonchiffon;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.itemP {
    background-color: grey;
    width: 500px;
    height: 300px;
}

.itemP > a {
}